{% extends "find_lostdog/base_generic.html" %}

{% block content %}
<div class="col-lg-12">
  <div class="card" id="result">
    <div class="card-header">
      <h5 class="card-title m-0">Danh sách</h5>
    </div>
    <div class="card-body">
      <table class="table table-striped projects">
        <thead>
            <tr>
                <th style="width: 1%">
                    #
                </th>
                <th style="width: 20%">
                    Ảnh
                </th>
                <th style="width: 10%" class="text-center">
                    Chủng loại
                </th>
                <th style="width: 10%" class="text-center">
                    Cân nặng
                </th>
                <th style="width: 10%" class="text-center">
                    Chiều cao
                </th>
                <th style="width: 10%" class="text-center">
                  Màu lông
                </th>
                <th style="width: 10%" class="text-center">
                  Phụ kiện
                </th>
                <th style="width: 10%" class="text-center">
                  Khu vực
                </th>
                <th style="width: 10%" class="text-center">
                  Thời gian
                </th>
                <th style="width: 10%" class="text-center">
                  Trạng thái
                </th>
            </tr>
        </thead>
        <tbody>
            {% for post in listposts %}
            <tr>
                <td>
                    #
                </td>
                <td>
                    <img src="data:image/png;base64,{{ post.9 }}" class="img-fluid mb-2" alt="dog image">
                </td>
                <td>
                    {{ post.1 }}
                </td>
                <td class="project_progress">
                    {{ post.2 }}
                </td>
                <td class="project-state">
                    {{ post.3 }}
                </td>
                <td class="project-actions text-right">
                    {{ post.4 }}
                </td>
                <td class="project-state">
                    {{ post.5 }}
                </td>
                <td class="project-state">
                    {{ post.6 }}
                </td>
                <td class="project-state">
                    {{ post.7|date:'d-m-Y' }}
                </td>
                <td class="project-state">
                    {{ post.8 }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <div>
      <!-- list post : {{listposts}} -->
    </div>
  </div>

</div>
{% endblock %}