{% extends "find_lostdog/base_generic.html" %}
{% load static %}
{% block content %}

<div class="col-lg-3"></div>

<!-- /.col-md-6 -->
<div class="col-sm-6 col-12">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Tra cứu</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" enctype="multipart/form-data" action="" method="post">
      {% csrf_token %}
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            {% if img %}
            <img id="image" src="{{ img }}" style="height: 150px; width: 150px;"/>
            {% else %}
            <img id="image" style="height: 150px; width: 150px;"/>
            {% endif %}
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="{{ form.image.id_for_label}}">Ảnh</label>
              <div class="input-group">
                <div class="custom-file">
                  {{ form.image }}
                  <label class="custom-file-label" for="{{ form.image.id_for_label }}">Chọn ảnh</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="{{form.tag.id_for_label}}">Loại chó</label>
              {{ form.tag }}
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer d-flex flex-row-reverse">
        <input class="btn btn-primary" type="submit" value="submit" />
      </div>
    </form>
  </div>

</div>
<div class="col-lg-3">
  
</div>

{% if message == "success" %}
<div class="card card-outline">
  <div class="card-header">
    <h3 class="card-title">
      Kết quả
    </h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2 col-sm-2">
        <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
          {% load custom_tag %}
          <a class="nav-link active" id="vert-tabs-{{ first_dog.content.1 }}-tab" data-toggle="pill" href="#vert-tabs-{{ first_dog.content.1 }}" role="tab" aria-controls="vert-tabs-{{ first_dog.content.1 }}" aria-selected="true">{{ first_dog.content.1 }}</a>
          {% for dog in listdogs %}
          <a class="nav-link" id="vert-tabs-{{ dog.content.1 }}-tab" data-toggle="pill" href="#vert-tabs-{{ dog.content.1 }}" role="tab" aria-controls="vert-tabs-{{ dog.content.1 }}" aria-selected="false">{{ dog.content.1 }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-10 col-sm-10">
        <div class="tab-content" id="vert-tabs-tabContent">
          <div class="tab-pane text-left fade show active" id="vert-tabs-{{first_dog.content.1}}" role="tabpanel" aria-labelledby="vert-tabs-{{first_dog.content.1}}-tab">
            <div class="row">
              <div class="col-7 col-sm-7">
                <div class="row">
                  {% for img in first_dog.url %}
                  <div class="col-sm-4">
                    <img src="{{ img }}" class="img-fluid img-thumbnail" style="height: 150px; width: 150px;" alt="dog image">
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-5 col-sm-5">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">
                      <strong>Chủng loại: </strong>
                      {{ first_dog.content.1 }}
                    </p>
                    <p class="card-text">
                      <strong>Nguồn gốc:</strong>
                      {{ first_dog.content.2 }}
                    </p>
                    <p class="card-text">
                      <strong>Đặc điểm tính cách:</strong>
                      {{ first_dog.content.3 }}
                    </p>
              
                    <p class="card-text">
                      <strong>Cân nặng:</strong>
                      {{ first_dog.content.7 }}
                    </p>
              
                    <p class="card-text">
                      <strong>Chiều cao:</strong>
                      {{ first_dog.content.6 }}
                    </p>
                    <p class="card-text">
                      <strong>Tuổi thọ:</strong>
                      {{ first_dog.content.4 }}
                    </p>
                    <p class="card-text">
                      <strong>Khoảng giá:</strong>
                      {{ first_dog.content.5 }}
                    </p>
                    <p class="card-text">
                      <strong>Chỗ bán:</strong>
                      <a href="{{ first_dog.content.9 }}">{{ first_dog.content.9 }}</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% for dog in listdogs %}
          <div class="tab-pane fade" id="vert-tabs-{{dog.content.1}}" role="tabpanel" aria-labelledby="vert-tabs-{{dog.content.1}}-tab">
            <div class="row">
              <div class="col-7 col-sm-7">
                <div class="row">
                  {% for img in dog.url %}
                  <div class="col-sm-4">
                    <img src="{{ img }}" class="img-fluid img-thumbnail" style="height: 150px; width: 150px;" alt="dog image">
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-5 col-sm-5">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">
                      <strong>Chủng loại: </strong>
                      {{ dog.content.1 }}
                    </p>
                    <p class="card-text">
                      <strong>Nguồn gốc:</strong>
                      {{ dog.content.2 }}
                    </p>
                    <p class="card-text">
                      <strong>Đặc điểm tính cách:</strong>
                      {{ dog.content.3 }}
                    </p>
              
                    <p class="card-text">
                      <strong>Cân nặng:</strong>
                      {{ dog.content.7 }}
                    </p>
              
                    <p class="card-text">
                      <strong>Chiều cao:</strong>
                      {{ dog.content.6 }}
                    </p>
                    <p class="card-text">
                      <strong>Tuổi thọ:</strong>
                      {{ dog.content.4 }}
                    </p>
                    <p class="card-text">
                      <strong>Khoảng giá:</strong>
                      {{ dog.content.5 }}
                    </p>
                    <p class="card-text">
                      <strong>Chỗ bán:</strong>
                      <a href="{{ dog.content.9 }}">{{ dog.content.9 }}</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        
      </div>
    </div>
  </div>
  <!-- /.card -->
</div>
{% elif message == 'error' %}
<script type=text/javascript>
const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });
Toast.fire({
  type: 'error',
  title: 'Không tìm thấy kết quả'
  })
</script>
{% endif %}
<script>
  document.getElementById("id_image").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("image").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  };
</script>
{% endblock %}