{% extends "find_lostdog/base_generic.html" %}

{% block content %}
<div class="col-lg-12">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Tra cứu</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" enctype="multipart/form-data" action="" method="post">
      {% csrf_token %}
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="{{ form.dogImage.id_for_label }}">Ảnh</label>
              <div class="input-group">
                <div class="custom-file">
                  {{ form.dogImage }}
                  <label class="custom-file-label" for="{{form.dogImage.id_for_label}}">Chọn ảnh</label>
                </div>
              </div>
            </div>
            <img id="image" style="height: 150px; width: 150px;"/>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.species.id_for_label }}">Chủng loại</label>
                  {{ form.species }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.weight.id_for_label }}">Cân nặng</label>
                  {{ form.weight }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.height.id_for_label }}">Chiều cao</label>
                  {{ form.height }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.color.id_for_label }}">Màu lông</label>
                  {{ form.color }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for=" form.accessory.id_for_label ">Phụ kiện</label>
                  {{ form.accessory }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for=" form.location.id_for_label ">Khu vực</label>
                  {{ form.location }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for=" form.time.id_for_label ">Thời gian</label>
                  {{ form.time }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for=" form.status.id_for_label ">Trạng thái</label>
                  {{ form.status }}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer d-flex flex-row-reverse">
        <input class="btn btn-primary" type="submit" value="submit" />
      </div>
    </form>
  </div>

  <div class="card" id="result">
    <div class="card-header">
      <h5 class="card-title m-0">Danh sách</h5>
    </div>
    <div class="card-body">
      <table class="table table-striped projects">
        <thead>
            <tr>
                <th style="width: 1%">
                    #
                </th>
                <th style="width: 20%">
                    Ảnh
                </th>
                <th style="width: 10%" class="text-center">
                    Chủng loại
                </th>
                <th style="width: 10%" class="text-center">
                    Cân nặng
                </th>
                <th style="width: 10%" class="text-center">
                    Chiều cao
                </th>
                <th style="width: 10%" class="text-center">
                  Màu lông
                </th>
                <th style="width: 10%" class="text-center">
                  Phụ kiện
                </th>
                <th style="width: 10%" class="text-center">
                  Khu vực
                </th>
                <th style="width: 10%" class="text-center">
                  Thời gian
                </th>
                <th style="width: 10%" class="text-center">
                  Trạng thái
                </th>
            </tr>
        </thead>
        <tbody>
            {% for post in listposts %}
            <tr>
                <td>
                    #
                </td>
                <td>
                    <img src="data:image/png;base64,{{ post.9 }}" class="img-fluid mb-2" alt="dog image">
                </td>
                <td>
                    {{ post.1 }}
                </td>
                <td class="project_progress">
                    {{ post.2 }}
                </td>
                <td class="project-state">
                    {{ post.3 }}
                </td>
                <td class="project-actions text-right">
                    {{ post.4 }}
                </td>
                <td class="project-state">
                    {{ post.5 }}
                </td>
                <td class="project-state">
                    {{ post.6 }}
                </td>
                <td class="project-state">
                    {{ post.7 }}
                </td>
                <td class="project-state">
                    {{ post.8 }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <div>
      <!-- list post : {{listposts}} -->
    </div>
  </div>

</div>

<script>
  document.getElementById("id_dogImage").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("image").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  };
</script>
{% endblock %}